body{
  background-image: url(images/galaxy\ thanos\ .jpeg);
  font-family: monospace;
  color: darkblue;
  font-size: 30;
  line-height: 100%;
}
h1{
  color : rebeccapurple;
  font-family: monospace;
  font-size: x-large;
  line-height: 150%;
}
p{
  color: darkslategray;
}
h2{
  color:darkblue;
  font-family: monospace;
  font-size: x-large;
  line-height: 200%;}
h3{
  color: darkmagenta;
  font-family: monospace;
  font-size: x-large;
  line-height: 200%;
}
img{
  width: 300px ;
  height: 300px;
  border-radius: 150px;
}
.container {
  width: 500px;
  margin: 0 auto;
  text-align: center;
}
.cardhigh{
  background-color: white;
  border-radius: 5%;
  box-shadow: 4px 4px 3px blue;
}
.cardlow{
  background-color: white;
  border-radius: 5%;
  box-shadow: 4px 4px 3px blue;
}
.list-inline > li{
  display: inline-block;
  padding: 0px 30px;
}
.list-inline{
  list-style: none;
  padding-left: 0px;
}
a:hover{
  background-color: gold;
}
@media (max-width : 960px) {
  .container {
    width: 700px
  }
}
@media (max-width: 720px) {
  .container {
    width: 500px;
  }
}
@media (max-width: 540px) {
  .container {
    width: 300px;
  }
}
